@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	font-family: 'Poppins', sans-serif !important;
	// background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	// background-size: 400% 400%;
	// animation: gradient 15s ease infinite;
    line-height: 1.5;
}
:root {
	--container: #e9ecef70;
	--color-primary: #5c47d5;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input, textarea {
    padding: .5rem;
    margin: 1rem;    
	font-family: 'Poppins', sans-serif !important;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li a {
	text-decoration: none;
}

// Utility classes******************************************
section {
	padding: 2rem 4rem;
	height: 100%;
	min-height: fit-content;
	h2 {
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 1rem;
        text-shadow: 0px 0px 6px #cdcdcd;
	}
}
.bold {
	font-weight: 900;
}
.card {
	background-color: var(--container);
	padding: 1rem;
    border-radius: 4px;
}
.animate-keywords {
    color: #5c47d5;;
    font-weight: 900;
}
// *********************************************************
#menu-icon {
	svg{
		width: 6rem;
	}
	svg:hover {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	}
	width: 5rem;
    position: fixed;
    z-index: 10;
    top: -24rem;
    left: calc(100% - 6rem);
}
.nav-container {
    mix-blend-mode: hard-light;
	z-index: 10;
	position: fixed;
    top: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(4rem at calc(100% - 6rem) 5rem);
	transition: .5s;
	background-color:var(--color-primary);
	text-align: right;
	padding: .5rem;
    ul {
        padding: 1.5rem;
    }
	ul a {
		visibility: hidden;
        font-size: 1.5rem;
		font-weight: bold;
		color: white;
	}
	#lni_lni-menu {
		visibility: visible;
		margin-right: 2%;
		margin-top: 2.5%;
	}
}

.nav-container:hover {
	clip-path: circle(50% at 100% 0%);
	ul a {
		visibility: visible;
	}
	#lni_lni-menu {
		visibility: hidden;
	}
}

// Hero***********************
#hero {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	clip-path: polygon(0 0, 100% 0, 100% 66%, 0 91%);
	padding: 4rem;
	display: block;
	text-align: center;
    font-size: 2.5rem;
	text-transform: capitalize;
	letter-spacing: .5rem;
    transition: 1s;
	#profile-image {
		width: clamp(10rem, 40%, 20rem);
		border-radius: 50%;
		transition: 1s;
		box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
		-webkit-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
		-moz-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
	}
	#profile-image:hover {
		transform: rotateY(180deg);
	}
}

//Projects**************
#projects {
	display: grid;
	place-items: center;
	opacity: .7;
}

//About me*************
#about-me {
	p {
        font-size: 1rem;
        word-break: break-word;
        overflow: wrap;
        margin: auto;
        padding: 1rem 4rem;
	}
}

// Skills *******************
#skills {
	color: white;
	background: var(--color-primary);
	display: grid;
	.flex-row {
		display: flex;
		flex: 1 1 10rem;
		flex-wrap: wrap;
	}
	.card {
		margin: 1rem auto;
		width: clamp(10rem, 35ch, 20rem);
		display: flex;
		flex-direction: column;
		padding: 1rem;
		justify-content: space-between;
        transition: .5s;
		color: white;
		.icon,
		.heading, svg {
			font-size: 1.5rem;
			fill: white;
			place-self: center;
			font-weight: 900;
			letter-spacing: .5rem;
			padding: .5rem 0;
		}
	}
	.card:hover {
        background-color: #34287f;
		box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
		-webkit-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
		-moz-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
	}
}

// Contact me**********************
#contact-me {
	clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	padding-bottom: .5rem;
    .card {
        padding: 1rem 1.5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
    }

    button {
        padding: 1rem;
        border-radius: 4px;
        background: #5c47d5;
        font-family: 'Poppins';
        border: 1px;
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-weight: 600;
		color: white;
    }
}