@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.5;
}

:root {
  --container: #e9ecef70;
  --color-primary: #5c47d5;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input, textarea {
  padding: .5rem;
  margin: 1rem;
  font-family: 'Poppins', sans-serif !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  text-decoration: none;
}

section {
  padding: 2rem 4rem;
  min-height: 100%;
}

section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-shadow: 0px 0px 6px #cdcdcd;
}

.bold {
  font-weight: 900;
}

.card {
  background-color: var(--container);
  padding: 1rem;
  border-radius: 4px;
}

.animate-keywords {
  color: #5c47d5;
  font-weight: 900;
}

#menu-icon {
  width: 5rem;
  position: fixed;
  z-index: 10;
  top: -24rem;
  left: calc(100% - 7.5rem);
}

#menu-icon svg {
  width: 6rem;
}

#menu-icon svg:hover {
  text-shadow: 0px 0px 10px white;
}

.nav-container {
  mix-blend-mode: hard-light;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(4rem at calc(100% - 6rem) 5rem);
          clip-path: circle(4rem at calc(100% - 6rem) 5rem);
  -webkit-transition: .5s;
  transition: .5s;
  background-color: var(--color-primary);
  text-align: right;
  padding: .5rem;
}

.nav-container ul {
  padding: 1.5rem;
}

.nav-container ul a {
  visibility: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.nav-container #lni_lni-menu {
  visibility: visible;
  margin-right: 2%;
  margin-top: 2.5%;
}

.nav-container:hover {
  -webkit-clip-path: circle(50% at 100% 0%);
          clip-path: circle(50% at 100% 0%);
}

.nav-container:hover ul a {
  visibility: visible;
}

.nav-container:hover #lni_lni-menu {
  visibility: hidden;
}

#hero {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 66%, 0 91%);
          clip-path: polygon(0 0, 100% 0, 100% 66%, 0 91%);
  padding: 4rem;
  display: block;
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: .5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

#hero #profile-image {
  width: clamp(10rem, 40%, 20rem);
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
  box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
  -webkit-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
  -moz-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
}

#hero #profile-image:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#projects {
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: .7;
}

#about-me p {
  font-size: 1rem;
  word-break: break-word;
  overflow: wrap;
  margin: auto;
  padding: 1rem 4rem;
}

#skills {
  color: white;
  background: var(--color-primary);
  display: -ms-grid;
  display: grid;
}

#skills .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .card {
  margin: 1rem auto;
  width: clamp(10rem, 35ch, 20rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
}

#skills .card .icon,
#skills .card .heading, #skills .card svg {
  font-size: 1.5rem;
  fill: white;
  place-self: center;
  font-weight: 900;
  letter-spacing: .5rem;
  padding: .5rem 0;
}

#skills .card:hover {
  background-color: #34287f;
  box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
  -webkit-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
  -moz-box-shadow: 2px -1px 25px 2px rgba(255, 255, 255, 0.41);
}

#contact-me {
  -webkit-clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: .5rem;
}

#contact-me .card {
  padding: 1rem 1.5rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2rem;
}

#contact-me button {
  padding: 1rem;
  border-radius: 4px;
  background: #5c47d5;
  font-family: 'Poppins';
  border: 1px;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 600;
  color: white;
}
/*# sourceMappingURL=styles.css.map */